@font-face {
    font-family: 'Roboto Condensed';
    src: url('../font/RobotoCondensed-BoldItalic.woff2') format('woff2'),
        url('../font/RobotoCondensed-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../font/RobotoCondensed-Light.woff2') format('woff2'),
        url('../font/RobotoCondensed-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../font/RobotoCondensed-Italic.woff2') format('woff2'),
        url('../font/RobotoCondensed-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../font/RobotoCondensed-Bold.woff2') format('woff2'),
        url('../font/RobotoCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../font/RobotoCondensed-LightItalic.woff2') format('woff2'),
        url('../RobotoCondensed-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../font/RobotoCondensed-Regular.woff2') format('woff2'),
        url('../font/RobotoCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

/*custom property*/

:root {
    --main-textcolor: #592411;
    --grey-border-buttons: rgba(155, 155, 155, 0.5);
    --button-background: white;
    --footer-textcolor:  #444;
    --footer-color:#ffd200;
    --hover-button-background: #8a381a;
}

body {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

/*algemene styling*/
h1,
h2,
h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    color: var(--main-textcolor);
    text-transform: uppercase;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 1.5em;
}

h4{
    color: var(--main-textcolor);
    font-size: 1.25em;
}

h5{
    --footer-textcolor:  #444;
    font-size: 1em;
}

/********/
/*HEADER*/
/********/
header {
    position: relative;
}
header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

ul:first-of-type{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
ul:first-of-type a{
    padding: 0.5em;
}

ul:first-of-type img{
    height: 1.5em;
}

ul:last-of-type{
    flex-direction: column;
    display: none;
}




/*BODY*/





/***************/
/*ONTWERP EIGEN*/
/***************/
section.ontwerp-eigen {
    height: 38em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../images/mms-f1.png);
}


section.ontwerp-eigen h1 {
    font-size: 1.5em;
    padding: 1em;
    background-color: rgba(255, 255, 255, .5);
}

section.ontwerp-eigen a {
    text-decoration: none;
}

section.ontwerp-eigen>a>p {
    background-color: white;
    padding: 1.2em 1em;
    display: inline;

    border-radius: 26px;

    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    font-size: 1em;
    color: var(--main-textcolor);
    text-transform: uppercase;
}


/* styles */

section.ontwerp-eigen>a>p:focus{
    border: solid var(--main-textcolor);
}

section.ontwerp-eigen>a>p:hover{
    text-decoration: underline var(--button-background);
}

section.ontwerp-eigen>a>p:active{
    background-color: var(--main-textcolor);
}



/*******************/
/*1E LIJST MET THEMAS*/
/*******************/

/*hele lijst met themas*/
section.themas {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/*lijst*/
section.themas ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/*totale figuur*/
section.themas figure {
    margin: 1;
    padding: 0;
}

/*alle afbeedlingen in figure*/
section.themas img {
    width: 100%;
}

/*captions*/
figcaption {
    text-align: center;
    width: 100%;
}

/*alle H's in captions*/
figcaption>h3 {
    display: inline;
    background-color: white;
    padding: 1em;
    position: relative;
    box-shadow: calc(900em/100000 * 10) calc(900em/100000 * 10) calc(900em/100000 * 99) #0000001A;
}







/**********************/
/*MAAK HET PERSOONLIJK*/
/**********************/
section.persoonlijk {
    text-align: center; 
}
/* ??????? */
section.persoonlijk section { 
    display: flex;
}

/* afbeelding naast titel */
section.persoonlijk section img {
    height: 10%;
    /*kom ik op terug*/
    transform: scale(0.6);
}

/* titel */
section.persoonlijk h2 {
    margin-bottom: 1em;
    text-align: left;
}

/*het lijstje*/
section.persoonlijk ol {
    list-style: none;
    margin: 0em;
    padding: 0em;

    display: flex;
    flex-direction: column;
    counter-reset: persoonlijk;
    /*teller zet je aan, begint bij 1*/
}

section.persoonlijk li a {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
}

/* kopjes bij nummers */
section.persoonlijk li a h3 {
    counter-increment: persoonlijk;
    /*bij elke h3 wordt er 1 bij op geteld*/
    gap: 0.5em;

    font-size: 1.5em;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    margin-top: 0;
}

/* nummers */
section.persoonlijk li a h3::before {
    content: counter(persoonlijk);
    /*de waarde van de teller wordt er voor neer gezet*/
    display: inline-flex;
    background-color: var(--main-textcolor);
    color: white;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

section.persoonlijk img {
    width: 40%;
}

/*stukje tekst boven button*/
section.persoonlijk p {
    text-align: center;
    max-width: 46.5%;
    margin: 1em auto;
    color: var(--main-textcolor);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    font-size: 1em;
}

/*button*/
section.persoonlijk>a {
    align-items: center;

    margin-top: 6em;
    padding: .5em 0;

    border: 1px solid var(--grey-border-buttons);
    border-radius: 26px;
    background-color: #fff;

    text-decoration: none;
    font-weight: 600;
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--main-textcolor);
    text-transform: uppercase;
    font-size: 15px;
}

section.persoonlijk>a img {
    width: 7%;
    vertical-align: middle;
}


/* states */
section.persoonlijk>a:focus{
    border: solid 2.5px var(--main-textcolor);
}

section.persoonlijk>a:hover{
    text-decoration: underline var(--button-background);
}

section.persoonlijk>a:active{
    background-color: var(--main-textcolor);
    color: var(--button-background)
}








/****************/
/*Bedrijfsruimte*/
/****************/
section.bedrijfsruimte{
    background-image: url(../images/background-bedrijfsruimte.jpeg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5em 0;
    background-size: cover;
    background-position: center;
}

section.bedrijfsruimte img{
    width: 70%;
}

section.bedrijfsruimte a{
    background-color: var(--main-textcolor);
    color: var( --button-background);
    border-radius: 30px;
    padding: 1em 3em;
    width: fit-content;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 2em;
}

/****************/
/*VERTROUWEN*/
/****************/
section.vertrouwen h2{
    margin-left: .5em;
    font-size: 2.25em;
}



/* FOOTER */







/******************/
/*img, form, titel*/
/******************/

footer{
    background-color: var(--footer-color);
    padding-bottom: 2em;
}

/* icoon + titel */
footer img{
    width: 10%;
    border-radius: 50%;
    background-color: var(--button-background);
    
    padding: 0.50em;
    margin:0.25em;
}

footer section:first-of-type{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding-top: 2em;
}

footer section:nth-last-of-type(2) h4{
    text-align: center;
    margin-bottom: 0em ;
}

/* formulier */
footer section:nth-last-of-type(2) form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border-bottom: 1px solid var( --main-textcolor);
    padding-bottom: 2em;
    margin: 0em 1em;
}

footer section:nth-last-of-type(2) input{
    border-radius: 30px;
    background-color: var( --button-background); 
    padding: 1em 0em;
    border: none;
    width: 100%;
    margin-top: 1em;
}

footer section:nth-last-of-type(2) button{
    border-radius: 50%;
    background-color: var( --button-background);
    padding: 1.5em ;
    border: none;
    margin-top: 1em;
}

/*********/
/*Linkjes*/
/*********/
footer section:last-of-type{
    margin:1em;
}

footer section:nth-last-of-type(2)+h4{
    text-align: left;
    padding-left: 1em;
}

footer section:last-of-type{
   display: flex;
}











/* PAGINA TWEE */



/* BODY */

/* linkje */
main>a{
    color: var(--main-textcolor);
    margin: 1em;
}

main a p{
    color: var(--main-textcolor);
}

main h1{
    margin-left: 1em;
}